# 테스트 프로그램은 proxy 거치지 않고 vllm 직접 접속. api_key 필요 없음.
API_KEY=sk-vllm-a34dd00caf4fff8a5de8eb5e
# Environment configuration for vllm
BASE_URL=http://169.254.63.16:21434/v1
BASE_PROMPT=Pythagorean theorem 의 중요성을100단어 이내로 설명해